<img
  class="last"
  [src]="'../../../../../../assets/images/' + testimonial"
  alt=""
/>
<div class="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
  voluptatem facilis blanditiis harum aliquid assumenda nam culpa, dolor velit
  deleniti magnam labore dignissimos. Sed blanditiis dolor nam aliquid
  laboriosam provident.
</div>
<img class="first" src="../../../../../../assets/images/quote.png" alt="" />
<img class="mid" src="../../../../../../assets/images/quote.png" alt="" />
