:host {
  display: block;
  position: relative;
  padding: 2rem ;
  img {
    width: 5.25rem;
    aspect-ratio: 1/1;
    position: absolute;
    object-fit: cover;
  }
  .last {
    top: 0;
    left: 0;
    border-radius: 50%;

  }
  .first {
    width: 4.25rem;
    bottom: 1.5rem;
    right: 2px;
    transform: rotate(180deg);
    opacity: 0.2;
    z-index: -1;

  }
  .mid {
    width: 2.25rem;
    top: 5.2rem;
    left: 40px;
    transform: rotate(180deg) scale(-1, 1);
    opacity: 0.4;
    z-index: -1;

  }
  .content {
    border-radius: 1.25rem;
    border: 1px solid #e0e0e0;
    padding: 30px 20px 20px 60px;
    font-size: .875rem;
  }
}
