<div class="main-section">
  <div>
    <div class="image">
      <img src="https://via.placeholder.com/150" alt="Placeholder" />
    </div>
  </div>
  <div>
    <p class="text-1">frontend</p>
    <h1 class="header-1">samir-nabil</h1>
    <p class="text-1 mb-4">
      Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis,
      risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis
      purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien pretium
      eu.
    </p>
				<button pButton pRipple type="button" class="p-button-outlined p-button-primary p-button-rounded"> Primary</button>
				<button pButton pRipple type="button"  class="p-button-outlined p-button-secondary p-button-rounded mx-2"> secondary</button>

  </div>
</div>
