<div>
  <img src="https://via.placeholder.com/150" alt="Placeholder" />
  <div>
    <p>frontend</p>
    <h1>samir-nabil</h1>
    <p>
      Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis,
      risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis
      purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien pretium
      eu.
    </p>
<p-button label="resume" [rounded]="true" severity="primary"></p-button>    
<p-button label="contact" [rounded]="true"  severity="secondary"></p-button>    
  </div>
</div>
