<div class="main-section">
  <div>
    <div class="image">
      <img src="https://via.placeholder.com/150" alt="Placeholder" />
    </div>
  </div>
  <div>
    <p class="text-1">frontend</p>
    <h1 class="header-1">samir-nabil</h1>
    <p class="text-1 mb-3">
      Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis,
      risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis
      purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien pretium
      eu.
    </p>
    <p-button label="resume" [rounded]="true" severity="primary"></p-button>
    <p-button label="contact" [rounded]="true" severity="secondary" styleClass="mx-2"></p-button>
  </div>
</div>
