:host {
    display: block;
    margin-top: 4rem;
  .item {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 95%;
    margin: auto;
    font-size: 100px;
    color: black;
  }
}
